/.gradle/8.7/checksums/checksums.lock
/.gradle/8.7/dependencies-accessors/gc.properties
/.gradle/8.7/executionHistory/executionHistory.bin
/.gradle/8.7/executionHistory/executionHistory.lock
/.gradle/8.7/fileChanges/last-build.bin
/.gradle/8.7/fileHashes/fileHashes.bin
/.gradle/8.7/fileHashes/fileHashes.lock
/.gradle/8.7/fileHashes/resourceHashesCache.bin
/.gradle/8.7/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/build/classes/java/main/com/shri/geospatial/Buffer_Util.class
/build/classes/java/main/com/shri/geospatial/Constant.class
/build/classes/java/main/com/shri/geospatial/CRS_SRID.class
/build/classes/java/main/com/shri/geospatial/Format_Convertor.class
/build/classes/java/main/com/shri/geospatial/GeospatialApplication.class
/build/classes/java/main/com/shri/geospatial/Point_To_DifferentTypes.class
/build/classes/java/main/com/shri/geospatial/Simplify.class
/build/resources/main/application.properties
/build/tmp/compileJava/previous-compilation-data.bin
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/.gitignore
/.idea/.name
/.gradle/8.4/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory/executionHistory.lock
/.gradle/8.4/fileHashes/fileHashes.bin
/.gradle/8.4/fileHashes/fileHashes.lock
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/gc.properties
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.gradle/8.4/fileChanges/last-build.bin
/.idea/misc.xml
/.gradle/8.4/fileHashes/resourceHashesCache.bin
/.idea/vcs.xml
/build/classes/java/main/com/shri/geospatial/Area_Length_Util.class
/build/tmp/compileJava/compileTransaction/stash-dir/Format_Convertor.class.uniqueId0
/.idea/modules/geospatial.main.iml
/.idea/modules.xml
