/.gradle/8.7/checksums/checksums.lock
/.gradle/8.7/dependencies-accessors/gc.properties
/.gradle/8.7/executionHistory/executionHistory.bin
/.gradle/8.7/executionHistory/executionHistory.lock
/.gradle/8.7/fileChanges/last-build.bin
/.gradle/8.7/fileHashes/fileHashes.bin
/.gradle/8.7/fileHashes/fileHashes.lock
/.gradle/8.7/fileHashes/resourceHashesCache.bin
/.gradle/8.7/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/build/classes/java/main/com/shri/geospatial/Buffer_Util.class
/build/classes/java/main/com/shri/geospatial/Constant.class
/build/classes/java/main/com/shri/geospatial/CRS_SRID.class
/build/classes/java/main/com/shri/geospatial/Format_Convertor.class
/build/classes/java/main/com/shri/geospatial/GeospatialApplication.class
/build/classes/java/main/com/shri/geospatial/Point_To_DifferentTypes.class
/build/classes/java/main/com/shri/geospatial/Simplify.class
/build/resources/main/application.properties
/build/tmp/compileJava/previous-compilation-data.bin
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
